{
    "RCON_SERVERS": {
        "My Server": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 7779,
            "RCON_PASS": "examplePass",
            "SERVER_PORT": 7777,
            "QUERY_PORT": 7778
        }
    },
    "WEATHER_FORECAST": 123456789,
    "WEATHER_PATTERN": 123456789,
    "GAMETIME_CHANNEL": 123456789,
    "WELCOME_CHANNEL": 123456789,
    "WELCOME_ROLE": 123456789,
    "DEPARTURE_CHANNEL": 123456789,
    "MARKS_AMOUNT": 100,
    "MARKS_DELAY": 2
}