{
    "RCON_SERVERS": {
        "Server Name": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 27025,
            "RCON_PASS": "RconPasword",
            "HOST_PORT": 7777,
            "QUERY_PORT": 7781
        },
        "Second Server": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 27030,
            "RCON_PASS": "AnotherPassword",
            "HOST_PORT": 7778,
            "QUERY_PORT": 7782
        }
    }
}